  body {
    background-color: #F7ECDE;
  }
  hr {
    border-style: dotted none none;
    border-width:5px;
    border-color:gray;
    width:10%;
  }

  h1 {color:#BB6464;
  }

  h3 {color:#BB6464;
  }
